<!DOCTYPE html>
<html>
<head>
    <title>storage</title>
    <link type="text/css" href="/static/index.css" rel="stylesheet" />
</head>
<body>
    <main class="window">
        <div class="control_block">
            <h1>ПАНЕЛЬ УПРАВЛЕНИЕ ХРАНИЛИЩЕМ</h1>
            <div id="timer-container">
            </div>
            <div id="button-container">
                <button id="start">ВКЛЮЧИТЬ АВТООБНОВЛЕНИЕ</button>
                <button id="reset">ОБНОВИТЬ СЕЙЧАС</button>
                <button id="stop">ОТКЛЮЧИТЬ АВТООБНОВЛЕНИЕ</button>
            </div>
        </div>
        <div class="info">
            <h1>СТАТИСТИКА</h1>
            <div class="date"></div>
            <div id="statistic"></div>
        </div>
    </main>
    <script src="/static/index.js"></script>
</body>
</html>